<?xml version="1.0" encoding="utf-8"?>
<configuration>

... additional settings ...

  <connectionStrings>
    <add name="GlobalyScalableEntities" connectionString="metadata=res://*/EDMX.GlobalyScalable.csdl|res://*/EDMX.GlobalyScalable.ssdl|res://*/EDMX.GlobalyScalable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=<<YourDataBaseServer>>.database.windows.net;initial catalog=GlobalyScalable;persist security info=True;user id=GlobalyScalable;password=<<YourPassword>>;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="EsUserId" value="<<User with administrative rights>>" />
    <add key="EsPassword" value="<<YourPassword>>" />
    <add key="EsServerName" value="<<YourDataBaseServer>>.database.windows.net" />
    <add key="EsDataBase" value="GlobalyScalable" />
  </appSettings>

... additional settings ...

</configuration>